<div class="section">
  <div class="container">

    <a href="#!/shows">&lt; Back</a>

    <div class="spacer"></div>

    <div ng-bind="model.show.name"></div>
    <div ng-bind="model.show.created | date : 'd MMMM yyyy'" style="font-style: italic; color: #888;"></div>

    <div class="spacer"></div>

    <table class="table is-bordered is-striped is-narrow is-fullwidth">
      <thead>
        <tr>
          <td>Position</td>
          <td style="width: 60px;">Time</td>
          <td style="width: 50px; text-align: center;">#</td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="frame in model.show.keyframes track by $index">
          <td><div ng-bind-html="frame.pos | coordinate" class="monospace"></div></td>
          <td><div ng-bind="frame.time" class="monospace"></div></td>
          <td class="tooltip-container">
            <div class="list-index" ng-bind="$index + 1"></div>
            <div class="tooltip">
              <div class="tooltip-option" ng-click="gotoKeyframe($index)">Goto</div>
              <div class="tooltip-option" ng-click="positionKeyframe($index)">Position</div>
              <div class="tooltip-option" ng-click="timeKeyframe($index)">Time</div>
              <div class="tooltip-option" ng-click="copyKeyframe($index)">Copy</div>
              <div class="tooltip-option" ng-click="upKeyframe($index)">Up</div>
              <div class="tooltip-option" ng-click="downKeyframe($index)">Down</div>
              <div class="tooltip-option" ng-click="deleteKeyframe($index)">Delete</div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="button" ng-click="addKeyframe()">Add</div>

  </div>
</div>

<div style="height: 300px"></div>

<div class="bar">
  <div joy-control></div>
  <!--<div class="button">Play</div>-->
  <div class="monospace" ng-bind-html="model.pos | coordinate"></div>
</div>
