<div class="section">
  <div class="container">

    <a href="#!/shows">&lt; Back</a>

    <div class="spacer"></div>

    <div ng-bind="model.show.name"></div>
    <div style="font-style: italic; color: #888;">Created: <span ng-bind="model.show.created | date : 'd MMMM yyyy'"></span></div>

    <div class="spacer"></div>

    <form name="form" novalidate>
      <table class="table is-bordered is-striped is-narrow is-fullwidth">
        <thead>
          <tr>
            <td>Position</td>
            <td>Time</td>
            <td style="width: 50px; text-align: center;">#</td>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="frame in model.show.keyframes track by $index">
            <td>
              <div ng-bind-html="frame.pos | coordinate" class="monospace"></div>
            </td>
            <td style="text-align: right; width: 50px;">
              <input ng-blur="changeTime()" style="width: 50px" type="number" ng-model="frame.time" ng-hide="$index == 0" required="" min="0.1" max="999" step="0.1">
            </td>
            <td class="tooltip-container" ng-mouseenter="onTooltip($index)" ng-mouseleave="offTooltip()">
              <div class="list-index" ng-bind="$index + 1" ng-class="{ 'selected': (model.selected == $index), 'current': (model.current == $index) }"></div>
              <div class="tooltip" ng-show="model.tooltip == $index">
                <div class="tooltip-option" ng-click="gotoKeyframe($index)">Goto</div>
                <div class="tooltip-option" ng-click="addAfter($index)">Add after</div>
                <div class="tooltip-option" ng-click="timeFromSpeed($index)" ng-hide="$index == 0">Time from speed</div>
                <div class="tooltip-option" ng-click="updatePosition($index)">Position from current</div>
                <div class="tooltip-option" ng-click="editPosition($index)">Edit position</div>
                <div class="tooltip-option" ng-click="upKeyframe($index)">Move up</div>
                <div class="tooltip-option" ng-click="downKeyframe($index)">Move down</div>
                <div class="tooltip-option" ng-click="deleteKeyframe($index)">Delete</div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </form>

    <div class="button" ng-click="addAfter(model.show.keyframes.length-1)">Add</div>

    <div style="margin-top: 16px;">
      <span>Speed:</span>
      <input style="width: 70px" type="number" ng-model="model.speed" required="" min="0.01" max="5" step="0.01">
      <span>m/s</span>
    </div>
  </div>
</div>

<!--<pre>{{ prettyModel() }}</pre>-->

<div style="height: 300px"></div>

<div class="bar">
  <table style="margin: 0 auto;">
    <tr>
      <td>
        <div joy-control active="model.control" style="display: inline-block;"></div>
      </td>
      <td style="padding-left: 10px;">
        <div style="margin-top: 10px;">
          <div class="button play-stop" ng-click="playShow()" ng-show="!model.playing">&#9654;</div>
          <div class="button play-stop" ng-click="stopShow()" ng-show="model.playing">&#9646;&#9646;</div>
        </div>
        <div style="margin-top: 10px;">
          <div class="button" ng-click="stop()">Stop</div>
        </div>
      </td>
    </tr>
  </table>
  <div style="text-align: center;" class="monospace">Current: <div class="monospace" style="display: inline;" ng-bind-html="model.pos | coordinate"></div></div>
</div>
