
Show!

<div class="wrap">
  <div class="v-scroll">
    <table class="keyframes table is-bordered is-fullwidth">
      <tbody>
        <tr>
          <td>243</td>
          <td>5.53;&nbsp;&nbsp;2.10;&nbsp;&nbsp;1.52</td>
          <td>5s</td>
          <td>...</td>
        </tr>
        <tr>
          <td>243</td>
          <td>5.53;&nbsp;&nbsp;2.10;&nbsp;&nbsp;1.52</td>
          <td>5s</td>
          <td>...</td>
        </tr>
        <tr>
          <td>243</td>
          <td>5.53;&nbsp;&nbsp;2.10;&nbsp;&nbsp;1.52</td>
          <td>5s</td>
          <td>...</td>
        </tr>
        <tr>
          <td>243</td>
          <td>5.53;&nbsp;&nbsp;2.10;&nbsp;&nbsp;1.52</td>
          <td>5s</td>
          <td>...</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
