<div class="section">
  <div class="container">

    <a href="#!">&lt; Back</a>

    <div class="spacer"></div>

    <div class="button" ng-click="createShow()">
      Create new show
    </div>

      <div class="spacer"></div>

    <table class="table is-bordered is-striped is-narrow is-fullwidth">
      <thead>
        <tr>
          <td>Name</td>
          <td style="width: 80px;">Created</td>
          <td style="width: 50px; text-align: center;">#</td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="show in model.shows">
          <td ng-bind="show.name"></td>
          <td ng-bind="show.created | date : 'd MMM'"></td>
          <td class="tooltip-container">
            <div class="list-index" ng-bind="$index + 1" ng-class="{'default': show.default}"></div>
            <div class="tooltip">
              <div class="tooltip-option" such-href="/show/{{show._id}}">Edit</div>
              <div class="tooltip-option" ng-click="renameShow(show._id)">Rename</div>
              <div class="tooltip-option" ng-click="makeDefaultShow(show._id)">Default</div>
              <div class="tooltip-option" ng-click="copyShow(show._id)">Copy</div>
              <div class="tooltip-option" ng-click="deleteShow(show._id)">Delete</div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
