<div class="section">
  <div class="container">

    <a href="#!">&lt; Back</a>

    <div class="spacer"></div>

    <div class="button" ng-click="createShow()">
      Create new show
    </div>

      <div class="spacer"></div>

    <table class="table is-bordered is-striped is-narrow is-fullwidth">
      <thead>
        <tr>
          <td>Name</td>
          <td style="width: 80px;">Created</td>
          <td style="width: 50px; text-align: center;">#</td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="show in model.shows">
          <td ng-bind="show.name"></td>
          <td ng-bind="show.created | date : 'd MMM'"></td>
          <td style="text-align: center;" class="tooltip-container">
            <span ng-bind="$index + 1"></span>
            <div class="tooltip">
              <div class="tooltip-option" such-href="/show/1">Edit</div>
              <div class="tooltip-option" ng-click="renameShow(show.id)">Rename</div>
              <div class="tooltip-option" ng-click="makeDefaultShow(show.id)">Default</div>
              <div class="tooltip-option" ng-click="copyShow(show.id)">Copy</div>
              <div class="tooltip-option" ng-click="deleteShow(show.id)">Delete</div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
