
<div class="section">
  <div class="container">
    <a href="#!">Back</a>
  </div>
</div>

<div class="section">
  <div class="container">
    <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
      <thead>
        <tr>
          <td>ID</td>
          <td>Name</td>
          <td>Modified</td>
        </tr>
      </thead>
      <tbody>
        <tr such-href="/show/1">
          <td>1</td>
          <td>A really awesome show</td>
          <td>11 Dec</td>
        </tr>
        <tr such-href="/show/2">
          <td>2</td>
          <td>Another cool thing</td>
          <td>15 Sep</td>
        </tr>
      </tbody>
    </table>

    <div class="field has-addons">
      <div class="control">
        <input class="input" type="text" placeholder="New show name" ng-model="model.newShowName">
      </div>
      <div class="control">
        <div class="button" ng-click="createShow()">
          Create
        </div>
      </div>
    </div>
  </div>
</div>
